.ps-cart--mini {
    position: relative;

    .ps-cart__items {
        background-color: #fff;
        border: 1px solid #e1e1e1;
        border-bottom: none;
        padding: 20px;
        position: relative;

        &::before {
            @include transform(rotate(45deg));
            @include transform-origin(50% 50%);
            background-color: #fff;
            border-left: 1px solid #e1e1e1;
            border-top: 1px solid #e1e1e1;
            content: "";
            display: inline-block;
            height: 16px;
            position: absolute;
            right: 30px;
            top: -8px;
            width: 16px;
        }

        .ps-product--cart-mobile {
            margin-bottom: 30px;
        }
    }

    .ps-cart__content {
        @include transform(translate(0 20px));
        @include hidden;
        min-width: 370px;
        padding-top: 10px;
        position: absolute;
        right: -30px;
        transition: all 0.4s ease;
        z-index: 30;
    }

    .ps-cart__footer {
        background-color: #fff;
        border: 1px solid #e1e1e1;
        border-top: 0;
        padding: 10px 20px 20px;

        h3 {
            display: block;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 20px;

            strong {
                color: red;
                float: right;
            }
        }
    }

    figure {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .ps-btn {
            padding: 12px 25px;
        }
    }

    &:hover {
        .ps-cart__content {
            @include transform(translate(0, 0));
            @include show;
        }
    }
}

.ps-cart--mobile {
    .ps-cart__content {
        border-bottom: 1px solid #e1e1e1;
        margin-bottom: 10px;
        min-height: calc(100vh - 250px);
        padding: 20px 0 0;
    }

    .ps-cart__footer {
        h3 {
            display: block;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 20px;

            strong {
                color: red;
                float: right;
            }
        }
    }

    figure {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .ps-btn {
            padding: 12px 25px;
        }
    }
}
