.sub-toggle {
    @include transform-style(preserve-3d);
    cursor: pointer;
    display: inline-block;
    display: none;
    height: 36px;
    position: relative;
    width: 36px;

    &::before,
    &::after {
        background-color: $color-heading;
        content: "";
        height: 1px;
        left: 50%;
        position: absolute;
        top: 50%;
        width: 12px;
    }

    &::before {
        @include transform(translateX(-50%));
    }

    &::after {
        @include transform(translateX(-50%) rotate(90deg));
    }

    &.active {
        &::after {
            display: none;
        }
    }
}

.sub-menu {
    @include transition(all 0.25s ease);
    @include hidden;
    background-color: #fff;
    border: 1px solid #ccc;
    left: 0;
    min-width: 240px;
    position: absolute;
    top: 100%;
    z-index: 1000;

    &::before {
        @include transform(translateX(-50%));
        @include triangle(12px, #fff, up);
        bottom: 100%;
        content: "";
        display: none;
        left: 50%;
        position: absolute;
    }

    > li {
        display: block;

        > a {
            @include transition(all 0.8s $ease-out-expo);
            color: $color-heading;
            display: inline-block;
            font-size: 14px;
            padding: 6px 20px;
            text-transform: capitalize;
            width: 100%;

            &:hover {
                color: $color-1st;
            }
        }

        &:last-child {
            border-bottom: none;

            a {
                border-bottom: 1px solid #eee;
            }
        }

        &.menu-item-has-children {
            position: relative;

            > .sub-toggle {
                display: none;
            }

            > .sub-menu {
                @include hidden;
                @include transform(translateY(30px));
                left: 100%;
                position: absolute;
                top: 0;

                &::before {
                    display: none;
                }
            }

            &:hover {
                > .sub-menu {
                    @include show;
                    @include transform(translateY(0));
                }
            }
        }
    }
}

.mega-menu {
    @include transition(all 0.4s ease);
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 15px 30px 10px;

    > * {
        padding: 10px 15px;
        width: 100%;
    }

    h4 {
        color: $color-heading;
        font-size: 16px;
        font-weight: 600;
        margin: 0;
        margin-bottom: 10px;
    }

    .mega-menu__column {
        min-width: 180px;
    }

    .mega-menu__list {
        background-color: transparent;

        li {
            a {
                background-color: transparent;
                color: $color-heading;
                display: block;
                font-size: 14px;
                line-height: 20px;
                padding: 5px 0;

                &.has-badge {
                    padding-right: 20px;

                    &::after {
                        @include border-radius(10px);
                        background-color: $color-1st;
                        color: #fff;
                        content: "New";
                        display: inline-block;
                        font-size: 9px;
                        line-height: 2em;
                        padding: 0 8px;
                        position: absolute;
                        right: 0;
                        top: 5px;
                    }

                    &.sale {
                        color: $color-danger;

                        &::after {
                            background-color: #ffa800;
                            content: "Sale";
                        }
                    }
                }

                &:hover {
                    color: $color-1st;
                }
            }
        }
    }
}

.menu {
    text-align: left;

    > li {
        display: inline-block;

        > a {
            color: $color-heading;
            display: inline-block;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            padding: 15px 25px;

            &:hover {
                color: $color-heading;
            }
        }

        &:first-child {
            padding-left: 0;

            > a {
                padding-left: 0;
            }
        }

        &:last-child {
            margin-right: 0;
            padding-right: 0;
        }

        .sub-toggle {
            display: none;
            margin-left: 5px;
        }

        .sub-menu {
            @include hidden();
            @include transform(scale3d(1, 1, 0) translateY(10px));
        }

        .mega-menu {
            @include hidden;
            left: 0;
            position: absolute;
            top: 100%;
            z-index: 1000;
        }

        &.menu-item-has-children {
            position: relative;

            > a {
                &::after {
                    @include vertical-align();
                    content: "\e93a";
                    font: normal normal normal 12px/1 linearicons;
                    right: 0;
                }

                &::before {
                    @include transform(rotate(45deg) translate(-50%, -50%));
                    @include transform-origin(0 0);
                    @include hidden;
                    background-color: #fff;
                    border-left: 1px solid #ccc;
                    border-top: 1px solid #ccc;
                    content: "";
                    height: 13px;
                    left: 50%;
                    position: absolute;
                    top: 100%;
                    width: 13px;
                    z-index: 10000;
                }
            }

            &:hover {
                > .sub-menu {
                    @include transform(scale3d(1, 1, 1) translateY(0));
                }
            }
        }

        &.has-mega-menu {
            position: relative;

            .mega-menu {
                left: 0;
                position: absolute;
                top: 100%;
            }

            &:hover {
                .mega-menu {
                    @include show;
                    @include transform(translateY(0));
                }
            }
        }

        &:hover {
            .sub-toggle {
                color: #fff;
            }

            > .sub-menu {
                @include show;
            }

            &.menu-item-has-children {
                > a {
                    &::before {
                        @include show;
                    }
                }
            }
        }
    }
}

.menu--product-categories {
    height: 100%;
    position: relative;

    .menu__toggle {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
        position: relative;

        i {
            font-size: 20px;
            margin-right: 10px;
        }

        span {
            color: $color-heading;
            font-size: 20px;
            font-size: 16px;
            font-weight: 600;
        }

        &::before {
            @include transform(scale3d(0, 1, 1));
            @include transform-origin(100% 50%);
            background-color: $color-heading;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            top: 0;
            transition: transform 0.75s $timing-1;
            width: 100%;
        }

        &:hover,
        &.active {
            &::before {
                @include transform-origin(0 50%);
                @include transform(scale3d(1, 1, 1));
            }
        }
    }

    .menu__content {
        @include hidden;
        @include transform(scale3d(1, 1, 0) translateY(30px));
        left: 0;
        min-width: 100%;
        padding-top: 2px;
        position: absolute;
        top: 100%;
        transition: all 0.3s ease;
        z-index: 100;
        z-index: 1000;
    }

    .menu--dropdown {
        background-color: #fff;
        border: 1px solid #d3d3d3;
        min-width: 260px;
    }

    &:hover {
        .menu__content {
            @include show;
            @include transform(scale3d(1, 1, 1) translateY(0));
        }
    }
}

.menu--dropdown {
    > li {
        padding: 0 20px;
        transition: all 0.4s ease;

        > a {
            color: $color-heading;
            display: block;
            padding: 10px 0;

            i {
                font-size: 18px;
                margin-right: 10px;
            }
        }

        &.has-mega-menu {
            .mega-menu {
                @include hidden;
                border-left: none;
                left: 100%;
                min-width: 530px;
                position: absolute;
                top: 0;
                width: auto;
            }
        }

        &:hover {
            background-color: $color-1st;

            &.has-mega-menu {
                .mega-menu {
                    @include show;
                }
            }
        }
    }
}

.menu--mobile {
    .sub-menu {
        @include transform(translate(0, 0));
        @include show;
        @include transition(all 0s ease);
        border: none;
        display: none;
        position: relative;

        > li {
            > a {
                border: none;
                padding: 10px 20px;
            }
        }
    }

    .mega-menu {
        @include flex-flow(row wrap);
        @include transition(all 0s ease);
        display: none;
        max-width: 100%;
        padding-left: 15px;

        h4 {
            display: block;
            line-height: 20px;
            margin-bottom: 0;
            padding: 10px 0;
            position: relative;
            width: 100%;
        }

        .mega-menu__column {
            padding: 0;
        }

        .mega-menu__list {
            display: none;
            padding-left: 15px;

            li {
                a {
                    border: none;
                    color: $color-text;

                    &:hover {
                        color: $color-heading;
                    }
                }
            }
        }
    }

    > li {
        border-bottom: 1px solid #dedede;

        > a {
            display: block;
            font-size: 15px;
            line-height: 20px;
            padding: 15px 20px;
            position: relative;
            z-index: 10;

            &:hover {
                color: $color-heading;
                padding-left: 5px;
            }
        }

        &.menu-item-has-children {
            position: relative;

            .sub-toggle {
                display: inline-block;
                height: 40px;
                position: absolute;
                right: 0;
                top: 5px;
                width: 40px;
                z-index: 20;
            }
        }
    }

    .mega-menu {
        border: none;

        h4 {
            font-weight: 500;
        }
    }

    .mega-menu__list {
        > li {
            border-bottom: 1px solid #dedede;

            a {
                padding: 10px 0;
            }

            &:last-child {
                border: none;
            }
        }
    }
}

.menu--mobile-2 {
    .ant-menu-submenu {
        > .ant-menu-submenu-title {
            > a {
                color: $color-heading;
                font-size: 16px;
            }

            > span {
                color: $color-heading;
                font-size: 16px;
            }
        }

        > .ant-menu-sub {
            padding-left: 20px;
        }
    }

    .ant-menu-item-active {
        background-color: transparent;
        color: $color-1st;
    }
}
