.navigation {
    background-color: $color-1st;

    > .ps-container,
    > .container {
        display: flex;
        flex-flow: row nowrap;

        > * {
            width: 100%;
        }
    }

    &__extra {
        > li {
            display: inline-block;
            margin-right: 20px;
            padding-right: 20px;
            position: relative;

            &::after {
                @include vertical-align();
                background-color: #000;
                content: "";
                height: 15px;
                right: 0;
                width: 2px;
            }

            a {
                color: #000;
            }

            &:last-child {
                margin-right: 0;
                padding-right: 0;

                &::after {
                    display: none;
                }
            }
        }

        .ps-dropdown {
            img {
                margin-right: 8px;
            }
        }
    }

    .navigation__left {
        max-width: 260px;
    }

    .navigation__right {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding-left: 35px;
    }
}

.header {
    @extend %list-reset;

    @include media("<lg") {
        /* luhut edited */

        display: none;

        &.header--mobile {
            display: block;
        }
    }

    .header__extra {
        display: inline-block;
        height: 42px;
        position: relative;
        transition: all 0.4s ease;
        width: 30px;

        > i {
            font-size: 30px;
            line-height: 42px;
        }

        span {
            align-items: center;
            background-color: #fff;
            background-color: #000;
            border-radius: 50%;
            bottom: 0;
            color: #fff;
            display: flex;
            height: 20px;
            justify-content: center;
            position: absolute;
            right: -6px;
            vertical-align: top;
            width: 20px;

            i {
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 1em;
            }
        }

        &:hover {
            i {
                color: #fff;
            }
        }
    }

    .header__actions {
        align-items: center;
        display: flex;
        justify-content: flex-end;

        > * {
            margin: 0 20px;
        }
    }

    .header__left {
        align-items: center;
        display: flex;
        max-width: 300px;

        .menu--product-categories {
            display: none;
        }
    }

    .header__center {
    }

    .header__right {
        max-width: 370px;
    }

    .header__top {
        background-color: $color-1st;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        padding: 25px 0;

        .ps-container,
        .container {
            display: flex;
            flex-flow: row nowrap;

            > * {
                width: 100%;
            }
        }
    }

    &.header--sticky {
        .menu--product-categories {
            .menu__toggle {
                i {
                    font-size: 30px;
                }

                span {
                    font-size: 16px;
                }
            }
        }

        .header__top {
            border-bottom: none;
            padding: 10px 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }

        .header__left {
            .ps-logo {
                display: none;
            }

            .menu--product-categories {
                background-color: transparent;
                display: block;
            }
        }
    }
}

.header--standard {

    @include media("<lg") {
        display: none;
    }

    .ps-block--user-header {
        a {
            &:hover {
                color: $color-1st;
            }
        }
    }

    .header__top-links {
        width: 100%;

        > li {
            display: inline-block;
            margin-right: 16px;
            padding-right: 15px;
            position: relative;

            &::after {
                @include vertical-align();
                border-right: 1px solid #e1e1e1;
                content: "";
                height: 15px;
                right: 0;
                width: 0;
            }

            > a {
                color: #666;
            }

            &:last-child {
                margin-right: 0;
                padding-right: 0;

                &::after {
                    display: none;
                }
            }
        }

        .language {
            > a {
                img {
                    margin-right: 5px;
                }
            }
        }

        .ps-block--user-header {
            .ps-block__left {
                i {
                    font-size: 14px;
                }
            }

            .ps-block__right {
                a {
                    color: #666;
                    display: inline-block;
                    font-weight: 400;
                    margin-right: 10px;

                    &:first-child {
                        &::after {
                            content: "/";
                            padding-left: 10px;
                        }
                    }

                    &:hover {
                        color: $color-1st;
                    }
                }
            }
        }
    }

    .header__top {
        background-color: #fff;
        border-bottom: none;
        padding: 10px 0;

        .container {
            align-items: center;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        .header__left {
            max-width: 50%;

            p {
                color: #666;
                line-height: 30px;
                margin-bottom: 0;

                strong {
                    color: $color-heading;
                }
            }
        }

        .header__right {
            max-width: 50%;
            text-align: right;
        }
    }

    .header__content-left {
        align-items: center;
        display: flex;
        max-width: 270px;
        padding-right: 30px;

        .ps-logo {
            margin-right: 30px;
        }
    }

    .header__content-center {
        max-width: 600px;
    }

    .menu--product-categories {
        .menu__toggle {
            i {
                font-size: 30px;
            }
        }
    }

    .ps-form--quick-search {
        width: 600px;

        button {
            background-color: #fcb800;
            color: $color-heading;
        }

        .form-group--icon {
            border: 1px solid #e1e1e1;
            border-radius: 4px 0 0 4px;
            min-width: 80px;

            select {
                border: none;
                height: 40px;
            }
        }

        input {
            border: 1px solid #e1e1e1;
            border-left: none;
        }
    }

    .header__content {
        padding: 20px 0;

        .menu--product-categories {
            .menu__toggle {
                &:hover {
                    &::before {
                        display: none;
                    }
                }
            }
        }

        .container {
            align-items: center;
            display: flex;
            flex-flow: row nowrap;

            > * {
                width: 100%;
            }
        }
    }

    .header__extra {
        span {
            background-color: $color-1st;

            i {
                color: $color-heading;
                font-weight: 700;
            }
        }
    }

    &.header--sticky {
        .header__top {
            position: relative;
        }

        .header__content {
            background-color: #fff;
            border-bottom: 1px solid #ccc;
            padding: 10px 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;

            .menu--product-categories {
                display: block;
            }
        }

        .ps-logo {
            display: none;
        }
    }
}

.header--product {
    /*  @include hidden;
    height: 0; */

    .navigation--product {
        @include hidden();
        height: 0;
        transform: translateY(-50%);
        transition: transform 0.25s ease;
    }

    &.header--sticky {
        @include show;
        height: auto;

        .header__top {
            display: none;
        }

        .navigation {
            height: 0;
        }

        .navigation--product {
            @include show;
            background-color: #fff;
            border-bottom: 1px solid #eaeaea;
            height: auto;
            height: auto;
            left: 0;
            padding: 10px 0;
            position: fixed;
            top: 0;
            transform: translateY(0);
            width: 100%;
            z-index: 9999;
        }
    }
}

.header--mobile {
    @include clearfix();
    @include transition(all 0.4s $ease-in-out-quad);
    background-color: $color-1st;
    border-bottom: 0 none;
    left: 0;
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 9999;

    @include media("<lg") {
        .ps-search--mobile {
            display: none;
        }
    }

    @include media("<md") {
        .header__top {
            .header__left {
                display: none;
            }

            .header__right {
                max-width: 100%;
                text-align: center;
            }
        }
    }

    @include media("<sm") {
        .navigation__extra {
            li {
                > a {
                    display: none;
                }
            }
        }
    }

    @include media("<xs") {
        .header__top {
            display: none;
        }

        .header__actions {
            > * {
                margin: 0;
                margin-right: 20px;
            }

            i {
                font-size: 24px;
            }
        }

        .ps-block--user-header {
            margin-right: 0;

            i {
                font-size: 24px;
            }

            .ps-block__right {
                display: none;
            }
        }

        .ps-search--mobile {
            display: block;
        }
    }

    .navigation__extra {
        display: inline-block;

        li {
            margin-right: 5px;
            padding-right: 5px;

            &::after {
                display: none;
            }
        }
    }

    .header__extra {
        span {
            background-color: $color-1st;
        }
    }

    .header__actions {
        i {
            font-size: 24px;
        }
    }

    .ps-block--user-header {
        i {
            font-size: 24px;
        }
    }

    .header__top {
        background-color: #f4f5f5;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 15px 30px;

        > * {
            width: 100%;
        }

        .header__left {
            max-width: 40%;

            p {
                margin-bottom: 0;
            }
        }

        .header__right {
            max-width: 60%;
            text-align: right;

            .navigation__extra {
                display: inline-block;
            }
        }
    }

    .navigation--mobile {
        border-bottom: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 10px 30px;

        .navigation__left {
            align-items: center;
            display: flex;
        }
    }

    .header__extra {
        span {
            background-color: #000;

            i {
                color: #fff;
                font-weight: 600;
            }
        }
    }

    &.active {
        @include transform(translateX(270px));
    }

    &.header--sticky {
        .navigation--mobile {
            @include box-shadow(0 0 3px 0 rgba(#000, 0.12));
            background-color: $color-1st;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }
    }

    .navigation--mobile {
        .ps-logo {
        }
    }

    @media (min-width: 1200px) {
        display: none;
    }
}

.header--mobile-product {
    .header__back {
        text-align: left;
        vertical-align: middle;

        strong {
            font-size: 18px;
            vertical-align: middle;
        }

        i {
            color: $color-heading;
            font-size: 24px;
            margin-right: 0.5em;
            vertical-align: middle;
        }
    }

    .navigation--mobile {
        .navigation__left {
            justify-content: flex-start;
        }
    }
}

.header--mobile-categories {
    .header__back {
        text-align: left;
        vertical-align: middle;

        strong {
            font-size: 18px;
            vertical-align: middle;
        }

        i {
            color: $color-heading;
            font-size: 24px;
            margin-right: 16px;
            vertical-align: middle;
        }
    }

    .navigation--mobile {
        .navigation__left {
            justify-content: flex-start;
        }
    }

    .header__filter {
        align-items: center;
        background-color: #f5f5f5;
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;

        > * {
            flex-basis: 100%;
            max-width: 50%;
        }

        button {
            align-items: center;
            background-color: transparent;
            border: none;
            display: flex;
            font-size: 14px;
            height: 30px;
            justify-content: center;

            &::after {
                content: "\e93a";
                font-family: Linearicons;
                margin-left: 20px;
            }

            i {
                color: $color-text;
                font-size: 16px;
                font-size: 20px;
                margin-right: 10px;
            }
        }

        .header__sort {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 0 10px;

            i {
                color: $color-text;
                font-size: 16px;
                font-size: 20px;
                margin-right: 10px;
            }

            .select2 {
                .select2-selection {
                    background-color: transparent;
                    border: none;

                    .select2-selection__rendered {
                        background-color: transparent;
                        text-align: left;
                    }

                    .select2-selection__arrow {
                        &::before {
                            content: "\e93a";
                            font-family: Linearicons;
                        }
                    }
                }
            }
        }

        > button {
            border-right: 1px solid #ccc;
        }
    }
}

.navigation--sidebar {
    @extend %list-reset;
    @include transform(translateX(-100%));
    background-color: #fff;
    height: 100vh;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
    width: 320px;
    z-index: 10001;

    @include media("<xs") {
        width: 100%;
    }

    .navigation__actions {
        text-align: center;

        .ps-dropdown {
            margin-bottom: 10px;

            > a {
                color: $color-text;
                font-size: 1.4rem;
            }
        }
    }

    .navigation__header {
        background-color: $color-1st;
        padding: 15px 0;
        position: relative;
        text-align: center;

        h3 {
            color: #fff;
            font-size: 1.6rem;
            font-weight: 600;
            letter-spacing: 0.05em;
            line-height: 20px;
            margin-bottom: 0;
            text-transform: uppercase;
        }

        .ps-btn--close {
            @include vertical-align();
            right: 10px;

            &::before,
            &::after {
                background-color: #fff;
                height: 60%;
            }
        }
    }

    .navigation__content {
        padding-bottom: 70px;
        padding-top: 10px;
    }

    .header__actions {
        a {
            display: inline-block;
            line-height: 40px;
            margin: 0 5px;

            i {
                color: $color-heading;
                font-size: 24px;
                vertical-align: middle;
            }
        }

        .ps-dropdown {
            a {
                padding-right: 0;

                &::after {
                    display: none;
                }
            }
        }

        .ps-cart-toggle {
            display: inline-block;
            line-height: 30px;
            padding: 5px 0;
            position: relative;

            span {
                @include border-radius(50%);
                @include transform(translate(25%, -100%));
                background-color: #000;
                height: 20px;
                left: 50%;
                position: absolute;
                top: 40%;
                width: 20px;

                i {
                    @include center();
                    color: #fff;
                    font-size: 11px;
                    font-style: normal;
                }
            }
        }
    }

    &.active {
        @include transform(translateX(0));
    }

    @media (min-width: 1200px) {
        .navigation__actions {
            display: none;
        }
    }
}

.navigation--list {
    background-color: #fff;
    border-top: 1px solid #ccc;
    bottom: 0;
    left: 0;
    padding: 10px 30px;
    position: fixed;
    width: 100%;
    z-index: 10002;

    .navigation__item {
        text-align: center;

        i {
            font-size: 24px;
        }

        span {
            display: block;
        }

        &.active {
            i {
                color: $color-1st;
            }

            span {
                color: $color-1st;
            }
        }
    }

    .navigation__content {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 400px;
    }

    @media (min-width: 1200px) {
        display: none;
    }
}

.navigation--mobile-product {
    background-color: #fff;
    border-top: 1px solid #ccc;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 10002;

    > * {
        border-radius: 0;
        flex-basis: 50%;
        font-size: 16px;
        text-align: center;
        width: 100%;
    }

    .ps-btn--black {
        color: #fff;
    }

    @media (min-width: 1200px) {
        display: none;
    }
}

.navigation--sticky {
    background-color: #fff;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    @include media("<lg") {
        &.navigation--unpin {
            @include transform(translate(0, 0));
        }
    }

    .navigation {
        background-color: #fff;
    }

    .header__top {
        display: none;
    }

    &.navigation--pin {
        @include transform(translate(0, 0));
    }

    &.navigation--unpin {
        @include transform(translate(0, -100%));
    }

    &.header--1 {
        &.navigation--pin {
            .navigation {
                background-color: rgba(#000, 0.95);
            }

            &.header--black {
                .navigation {
                    background-color: rgba(#fff, 0.95);
                }
            }
        }
    }

    &.header--2 {
        &.navigation--pin {
            &.active {
                @include transform(translate(270px, 0));
                background-color: #fff;
            }
        }
    }
}

.ps-site-overlay {
    @include transition(all 0.4s ease);
    @include hidden;
    background-color: rgba(#000, 0.75);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    &.active {
        @include show;
    }
}

.ps-search--mobile {
    margin: 0 auto;
    max-width: 450px;
    padding: 10px 20px;
}
