.ps-banner {
    position: relative;
}

.ps-banner--1 {
    position: relative;

    p {
        color: #09c;
        font-size: 16px;
    }

    h4 {
        color: $color-heading;
        font-size: 30px;
        font-weight: 500;
        line-height: 1.1em;
        margin-bottom: 30px;

        strong {
            color: rgb(102, 153, 0);
        }
    }

    .ps-btn {
        font-weight: 600;
        padding: 11px 24px;
    }

    .ps-banner__content {
        @include vertical-align();
        left: 0;
        padding: 0 240px;
        width: 100%;
    }

    @media (max-width: 1680px) {
        .ps-banner__content {
            padding: 0 50px;
        }
    }
}
