.ps-breadcrumb {
    background-color: #f1f1f1;
    padding: 20px 0;

    @include media("<md") {
        padding: 10px 0;
        position: relative;

        .breadcrumb {
            li {
                font-size: 12px;
            }

            a {
                font-size: 12px;
            }
        }
    }

    .breadcrumb {
        background-color: transparent;
        display: inline-block;
        margin: 0;
        padding: 0;

        li {
            color: $color-heading;
            display: inline-block;
            font-size: 14px;
            line-height: 20px;

            &::before {
                content: "/";
                //font-family: FontAwesome;

                margin: 0 5px;
            }

            &:first-child {
                padding-left: 0;

                &::before {
                    display: none;
                }
            }
        }

        a {
            color: #09c;
            line-height: 20px;

            &:hover {
                color: $color-1st;
            }

            i {
                margin-right: 5px;
            }
        }
    }
}

.ps-breadcrumb--2 {
    text-align: center;

    .breadcrumb {
        background-color: transparent;
        display: inline-block;
        margin: 0;
        padding: 0;

        li {
            color: $color-1st;
            display: inline-block;
            font-size: 14px;
            line-height: 20px;

            &::before {
                content: "/";
                margin: 0 5px;
            }

            &:first-child {
                padding-left: 0;

                &::before {
                    display: none;
                }
            }
        }

        a {
            color: $color-heading;
            line-height: 20px;

            &:hover {
                color: $color-1st;
            }

            i {
                margin-right: 5px;
            }
        }
    }
}
