button {
    @include transition(all 0.4s ease);
    cursor: pointer;
}

.menu-toggle,
.ps-btn--hamburger {
    @include border-radius(50%);
    display: inline-block;
    height: 40px;
    overflow: hidden;
    position: relative;
    //display: none;

    width: 40px;

    @include media("<lg") {
        display: inline-block;
    }

    span,
    &::before,
    &::after {
        @include transition(all 0.4s ease);
        background-color: #303030;
        height: 2px;
        position: absolute;
        right: 10px;
        width: 20px;
        z-index: 100;
    }

    span {
        @include transform(translateY(-50%));
        top: 50%;
    }

    &::before,
    &::after {
        content: "";
    }

    &::before {
        top: 12px;
    }

    &::after {
        bottom: 12px;
    }

    &:hover {
        cursor: pointer;
    }

    &.active {
        span {
            @include transform(translateX(100%));
            opacity: 0;
            visibility: hidden;
        }

        &::before,
        &::after {
            @include transform-origin(50% 50%);
            background-color: #fc354c;
            bottom: auto;
            top: 50%;
            width: 20px;
        }

        &::before {
            @include transform(rotate(45deg));
        }

        &::after {
            @include transform(rotate(-45deg));
        }
    }
}

.ps-btn,
button.ps-btn {
    background-color: $color-1st;
    border: none;
    border-radius: 4px;
    color: $color-heading;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    font-weight: 600;
    line-height: 20px;
    padding: 15px 45px;
    transition: all 0.4s ease;

    &--rounded {
        @include border-radius(50px);
    }

    &--curve {
        @include border-radius(5px);
    }

    &--outline {
        @include box-shadow(none);
        background-color: transparent;
        border: 2px solid $color-1st;
        color: $color-1st;
        font-weight: 500;

        &:hover {
            background-color: $color-1st;
            color: #fff;
        }
    }

    &--fullwidth {
        text-align: center;
        width: 100%;
    }

    &--sm {
        font-size: 1.2rem;
        padding: 0.5rem 2rem;

        &.ps-btn--curve {
            @include border-radius(3px);
        }
    }

    &--lg {
        padding: 1.5rem 4rem;
    }

    &--xl {
        font-size: 1.6rem;
        padding: 2rem 6rem;
    }

    &.ps-btn--reverse {
        background-color: #576391;

        &:hover {
            background-color: $color-2nd;
        }
    }

    &.ps-btn--gray {
        background-color: #e5e5e5;
        color: #000;
        font-size: 1.6rem;
    }

    &.ps-btn--black {
        background-color: $color-heading;

        &.ps-btn--outline {
            background-color: transparent;
            border: 2px solid $color-heading;
            color: $color-heading;

            &:hover {
                background-color: $color-heading;
                color: #fff;
            }
        }
    }

    &:hover,
    &:active {
        background-color: #222;
        color: #fff;

        &.ps-btn--black {
            background-color: $color-1st;
        }
    }
}

.ps-btn--favorite {
    @include border-radius(50%);
    border: none;
    display: inline-block;
    font-size: 18px;
    height: 40px;
    position: relative;
    vertical-align: top;
    width: 40px;

    i {
        @include center();
        @include transition(all 0.4s ease);
        color: #000;
    }

    &:hover {
        i {
            color: $color-2nd;
        }
    }
}

.ps-btn--close {
    @include transition(all 0.4s ease);
    @include border-radius(50%);
    display: inline-block;
    height: 30px;
    position: relative;
    width: 30px;

    &::before,
    &::after {
        @include transform-origin(center center);
        @include transition(all 0.4s ease);
        background-color: #9f9a98;
        content: "";
        height: 50%;
        left: 50%;
        position: absolute;
        top: 50%;
        width: 2px;
    }

    &::before {
        @include transform(translate(-50%, -50%) rotate(45deg));
    }

    &::after {
        @include transform(translate(-50%, -50%) rotate(-45deg));
    }

    &:hover {
        @include transform(rotate(180deg));

        &::before,
        &::after {
            @include transition-delay(0.3s);
            background-color: #f44336;
        }
    }
}

#back2top {
    @include transition(all 0.5s ease);
    @include box-shadow(0 0 3px 0 rgba(0, 0, 0, 0.2));
    @include transition(all 0.4s ease);
    background-color: transparent;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    bottom: 30px;
    height: 45px;
    position: fixed;
    right: 30px;
    width: 45px;
    z-index: 10000;

    @include media("<lg") {
        display: none;
    }

    i {
        @include center();
        color: $color-text;
        font-size: 16px;
        z-index: 10001;
    }

    &:hover {
        background-color: #fff;
        border-color: #fff;
        box-shadow: 0 0 10px 2px rgba($color-1st, 0.5);
        cursor: pointer;

        i {
            color: $color-1st;
        }
    }
}
