.ps-list--social {
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        margin-right: 20px;
        position: relative;
        vertical-align: top;

        a {
            color: $color-text;
            display: inline-block;
            font-size: 18px;

            &:hover {
                color: $color-1st;
            }

            &.facebook {
                i {
                    color: #3b5998;
                }
            }

            &.twitter {
                i {
                    color: #0084b4;
                }
            }

            &.google-plus {
                i {
                    color: #f00;
                }
            }

            &.instagram {
                i {
                    color: #c32aa3;
                }
            }
        }
    }
}

.ps-list--pricing {
    li {
        @include clearfix();
        background-color: #fff;
        color: #000;
        padding: 1.5rem 2rem;
        position: relative;
        vertical-align: top;

        span {
            float: right;
            vertical-align: top;
        }

        &:nth-child(even) {
            background-color: #f7f4ee;
        }
    }
}

.ps-list--checked {
    li {
        margin-bottom: 20px;

        a {
            color: #313131;
            display: block;
            font-size: 14px;
            padding-left: 30px;
            position: relative;

            &::before {
                @include transition(all 0.4s ease);
                border: solid 1px #8d8d8d;
                content: "";
                display: inline-block;
                height: 20px;
                left: 0;
                position: absolute;
                top: 0;
                width: 20px;
            }

            &::after {
                @include transform(rotate(45deg));
                @include hidden;
                border-bottom: 2px solid #fff;
                border-right: 2px solid #fff;
                color: #fff;
                content: "";
                display: inline-block;
                height: 10px;
                left: 8px;
                position: absolute;
                top: 4px;
                width: 6px;
            }

            &:hover {
                &::before {
                    background-color: $color-1st;
                    border-color: $color-1st;
                }

                &::after {
                    @include show;
                }
            }
        }

        &.current {
            a {
                &::before {
                    background-color: $color-1st;
                    border-color: $color-1st;
                }

                &::after {
                    @include show;
                }
            }
        }
    }

    &.ps-list--checked-circle {
        li {
            a {
                &::before {
                    @include border-radius(50%);
                }

                &:hover {
                    &::before {
                        background-color: #a7a7a7;
                        border-color: #a7a7a7;
                    }
                }
            }
        }
    }
}

.ps-list--arrow {
    a {
        color: #626262;
        display: block;
        font-family: $font-1st;
        font-size: 14px;
        letter-spacing: 0.5px;
        padding-left: 15px;
        position: relative;

        &::before {
            @include vertical-align();
            content: "\f0da";
            font-family: FontAwesome;
            left: 0;
        }

        &:hover {
            color: $color-1st;

            .circle {
                background-color: $color-2nd;
                border-color: $color-2nd;

                &::before {
                    @include show;
                    color: #fff;
                }
            }
        }
    }

    li {
        margin-bottom: 20px;

        &.current {
            a {
                color: $color-2nd;
            }

            .circle {
                background-color: $color-2nd;

                &::before {
                    @include show;
                    color: #fff;
                }
            }
        }
    }
}

.ps-list--dot {
    list-style-type: none;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;

    li {
        color: #000;
        font-size: 1.4rem;
        line-height: 20px;
        margin-bottom: 1rem;
        padding-left: 20px;
        position: relative;

        &::before {
            @include border-radius(50%);
            background-color: #000;
            content: "";
            height: 6px;
            left: 0;
            position: absolute;
            top: 5px;
            width: 6px;
        }
    }
}

.ps-list--plus {
    li {
        margin: 10px 0;

        a {
            display: block;
            line-height: 20px;
            padding-left: 15px;
            position: relative;

            &::before {
                content: "+";
                left: 0;
                line-height: 20px;
                position: absolute;
                top: 0;
            }
        }
    }
}

.ps-list--link {
    li {
        display: block;
        padding: 4px 0;

        a {
            color: $color-text;
            display: inline-block;
            line-height: 20px;
            position: relative;

            &::before {
                @include transform(scale3d(0, 1, 1));
                @include transform-origin(100% 50%);
                background-color: $color-heading;
                content: "";
                height: 1px;
                left: 0;
                position: absolute;
                top: 100%;
                transition: transform 0.4s $timing-1;
                width: 100%;
            }

            &:hover {
                &::before {
                    @include transform(scale3d(1, 1, 1));
                    @include transform-origin(0 50%);
                }
            }
        }
    }
}

.ps-list--categories {
    li {
        padding: 6px 20px 6px 0;
        position: relative;

        a {
            display: block;
            line-height: 22px;
        }

        .sub-toggle {
            display: inline-block;
            height: 32px;
            position: absolute;
            right: 0;
            top: 0;
            width: 32px;

            i {
                @include center();

                &::before {
                    content: "\e93a";
                    font-family: "Linearicons" !important;
                }
            }

            &::before,
            &::after {
                display: none;
            }
        }

        .sub-menu {
            @include show;
            background-color: transparent;
            border: none;
            display: none;
            padding-left: 20px;
            position: relative;
            transition: all 0s ease;

            li {
                a {
                    background-color: transparent;
                    border: none;
                    padding: 0;
                }

                &.menu-item-has-children {
                    .sub-toggle {
                        display: inline-block;
                    }

                    .sub-menu {
                        @include show;
                        @include transform(translateY(0));
                        left: 0;
                        position: relative;
                        top: 0;
                    }
                }
            }
        }
    }
}

.ps-list--blog-links {
    display: block;
    text-align: center;

    li {
        display: inline-block;
        margin-right: 20px;

        a {
            color: #999;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.2em;

            &:hover {
                color: $color-heading;
            }
        }

        &:last-child {
            margin-right: 0;
        }

        &.active {
            a {
                color: $color-heading;
            }
        }
    }
}

.ps-list--social-color {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        margin-right: 10px;
        vertical-align: top;

        a {
            align-items: center;
            color: #fff;
            display: flex;
            font-size: 20px;
            height: 38px;
            justify-content: center;
            width: 38px;

            &.facebook {
                background-color: #1b4e9b;

                &:hover {
                    background-color: lighten(#1b4e9b, 15%);
                }
            }

            &.twitter {
                background-color: #00aeef;

                &:hover {
                    background-color: lighten(#00aeef, 15%);
                }
            }

            &.google-plus {
                background-color: #c00;

                &:hover {
                    background-color: lighten(#c00, 15%);
                }
            }

            &.linkedin {
                background-color: #2d567f;

                &:hover {
                    background-color: lighten(#2d567f, 15%);
                }
            }

            &.feed {
                background-color: #f86a02;

                &:hover {
                    background-color: lighten(#f86a02, 15%);
                }
            }
        }
    }
}
