.ps-loading {
    @include transition(all 1s $timing-1);
    background-color: #fff;
    flex-flow: row nowrap;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;

    &__content {
        display: flex;
        flex-flow: row nowrap;
        height: 100vh;

        > * {
            @include transition(transform 1s $timing-1);
            @include transform-origin(0 50%);
            background-color: #fcfaf6;
            display: block;
            width: 25%;
        }
    }

    &__1st {
    }

    &__2nd {
    }

    &__3rd {
    }

    &__4th {
    }

    &.loaded {
        @include hidden;
        @include transition-delay(0.7s);
        background-color: transparent;

        .ps-loading__content {
            > * {
                @include transform(scale3d(0, 1, 1));

                @include transition-delay(0.5s);
            }
        }
    }
}

#loader-wrapper {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}

#loader-wrapper .loader-section {
    background: #fff;
    height: 100%;
    position: fixed;
    top: 0;
    width: 51%;
    z-index: 999;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

#loader-wrapper img {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    width: 100px;
    z-index: 999999999;
}

.loaded #loader-wrapper img {
    opacity: 0;
    transition: all 0.3s ease-out;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Loaded styles */

.loaded #loader-wrapper .loader-section.section-left {
    transform: translateX(-100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
    transform: translateX(100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper {
    transform: translateY(-100%);
    transition: all 0.3s 1s ease-out;
    visibility: hidden;
}
