.pagination {
    display: inline-block;
    font-size: 0;
    margin: 0;
    position: relative;
    vertical-align: top;

    li {
        display: inline-block;
        margin-right: 10px;
        vertical-align: top;

        > a {
            background-color: #f5f5f5;
            border: none;
            color: #999;
            color: $color-heading;
            display: inline-block;
            font-size: 14px;
            line-height: 32px;
            padding: 0 14px;
            position: relative;
            vertical-align: middle;
            z-index: 30;

            i {
                font-size: 10px;
                font-weight: 600;
                margin-left: 4px;
            }

            &:hover {
                background-color: $color-1st;
                color: $color-heading;
            }
        }

        &.active {
            border: none;

            a {
                background-color: $color-1st;
                color: $color-heading;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.ps-pagination {
    @include clearfix;
    padding-top: 70px;
    text-align: center;
    @include media("<sm") {
        .pagination {
            > li {
                margin-bottom: 10px;

                > a {
                    font-size: 1.4rem;
                    line-height: 40px;
                    min-width: 40px;
                }
            }
        }
    }
}
